@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";
.wrapper{ width: 360px; padding: 20px; }
:root {
  --background-purple: #1B1227;
  --text-gray: #BFCBCD;
  --text-white: #FFFFFF;
  --blue-highlight: #66FFF6;
  --button-highlight: #2E4D5B;
  --light-blue: #A7C6FF;
  --black: #000000;
}
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #1B1227;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #BFCBCD;
  text-decoration: none;
}

header {
  display: flex;
  width: 100%;
  height: 10vh;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  padding-left: 3.3%;
  padding-right: 3.7%;
  padding-top: 28px;
  padding-bottom: 28px;
  box-sizing: border-box;
  overflow: hidden;
}

.Logo_Container_Log {
  display: flex;
}

.Logo_Container_Log{
  flex: 1;
  padding-top: 17px;
}

.Logo_Container_Log img {
  width: 220px;
  height: auto;
  max-width: 120%;

  transform: scale(0.91);
}

form{
  width: 100%;
  height: 80vh;
  margin: auto;

  width: 310px;
  height: 250px;
  border: 2px solid var(--blue-highlight);
  box-sizing: border-box;
  border-radius: 15px;

  transform: scale(1.05);
}

.Login_Box {
  margin: auto;
  padding-top: 17vh;

}

.Login_Box h1 {
  width: 59px;
  margin: 20px 22px 15px 22px;
  font-size: 24px;
  line-height: 29px;
  border-top-left-radius: 50px;
}

.Login_Line {
  margin: 15px 22px 25px 22px;
  border: 1px solid var(--blue-highlight);
  opacity: 100%;
}

form h1 {
  width: 59px;
  height: 23px;
  margin: 20px 22px 15px 22px;
  font-size: 24px;
  line-height: 29px;
  border-top-left-radius: 50px;
  color: var(--text-gray);
}

form p {
  padding: 0px 5px 0px 22px;
  color: var(--text-gray);
  font-size: 14px;
}

.Log_Username_Field .form-group .form-control,
.Log_Password_Field .form-group .form-control {
  width: 265px;
  height: 32px;
  padding: 5px 40px 8px 20px;
  margin: 20px 22px;
  text-align: center;
  background: var(--light-blue);
  border-radius: 10px;
  text-align:left;
}

.Log_Username_Field .form-group input,
.Log_Password_Field .form-group input {
  border: none;
  outline: none;
  background: none;
}

.Login_Button{
  width: 100%;
  display: flex;
  margin-top: 45px;
}

.Login_Button input {
  width: 80px;
  height: 32px;
  cursor: pointer;
  margin-left: 230px;
  font-size: 14px;
  line-height: 9px;
  color: var(--text-white);

  background: var(--button-highlight);
  border: 3px solid var(--blue-highlight);
  border-radius: 10px;
  text-align: center;
}

::placeholder {
  color: var(--background-purple);
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--light-blue);
  border-color: var(--light-blue)
}

.form-group .invalid-feedback {
  margin-top: -15px;
  margin-bottom: -10px;
  padding-left: 22px;
}
